@import "../../../styles/variables";
@import "../../../styles/common/row";
@import "../../../styles/animations";

.position-symbol {
  width: 25px;
  margin-right: 5px;
  justify-content: center;
}

.rank-number {
  width: 60px;
  margin-right: 5px;
  justify-content: center;
}

.country-name {
  flex: 1;
  padding-left: 10px;
  justify-content: left;
  cursor: pointer;

  &:focus {
    outline: $p0 solid 3px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }


  @media screen and (max-width: 360px) {
    font-family: "IBM Plex Sans Condensed", "Roboto Condensed", sans-serif;
  }
}
