@import "../../styles/animations";
@import "../../styles/variables";
@import "../../styles/common/row";

.modal-backing {
  position: fixed;
  display: block;
  display: flex;

  margin: 0 auto;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 1;

  background-color: #141619dd;
  cursor: pointer;

  animation: animation-modal-backing 300ms ease;

  &--special {
    animation: animation-modal-backing-special 1500ms ease;
  }
}

.modal {
  display: block;
  align-self: center;

  margin: 0 auto;
  width: 90%;
  max-width: 520px;
  min-width: 320px;

  background-color: $w7;
  cursor: auto;
  border-radius: 9px;

  animation: animation-modal-content 300ms ease;

  &--special {
    animation: animation-modal-content-special 1500ms ease;
  }

  &__body {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: $w10;
    border-radius: 9px 9px 0 0;
  }
}

.stat {
  display: inline-block;
  text-align: center;
  width: 60px;

  &__text {
    font-size: 24px;
    background-color: $w8;
    border-radius: 3px;
    box-shadow: inset 0 3px 0px $w9;
    padding: 5px 0px;
    margin-bottom: 5px;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0px 30px 0px;
  }
}

.guess-count {
  font-size: 24px;
  text-align: center;
  margin: 20px 0px;
}

.info {
  border-radius: 4px;
  background-color: $w8;
  padding: 5px;
  &__text {
    text-align: center;
    color: $w3;
    margin: 10px auto;
  }
}

.country-guess {
  background-color: $w8;
  box-shadow: inset 0 3px 0px $w9;
  padding: 5px 0;
  margin-bottom: 5px;
  padding-left: 10px;
  max-width: 300px;
  flex: 1;

  &__container {
    padding: 20px 0px;
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
  }
}
