@import "../../styles/animations";
@import "../../styles/variables";

.modal-backing {
  position: fixed;
  display: block;
  display: flex;

  margin: 0 auto;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 1;

  background-color: #141619dd;
  cursor: pointer;

  animation: animation-modal-backing 300ms ease;

  &--special {
    animation: animation-modal-backing-special 1500ms ease;
  }
}

.modal-content {
  display: block;
  align-self: center;

  margin: 0 auto;
  width: 90%;
  max-width: 520px;
  min-width: 320px;

  background-color: $w7;
  cursor: auto;
  border-radius: 3px;
  overflow-y: hidden;

  // animation: animation-modal-content 300ms ease;

  &--special {
    animation: animation-modal-content-special 1500ms ease;
  }
}

.modal-body {
  max-width: 400px;
  margin: 0 auto;
}

.stat {
  display: inline-block;
  text-align: center;
  width: 60px;

  &__text {
    font-size: 24px;
    background-color: $w8;
    border-radius: 3px;
    box-shadow: inset 0 3px 0px $w9;
    padding: 5px 0px;
    margin-bottom: 5px;
  }
}

.modal__title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: $w10;
}

.stat__container {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0px 30px 0px;
}

.results-text {
  text-align: center;
  padding: 40px 0;
  color: $w3;
  width: 250px;
  margin: 0 auto;
}

.country-guess__container {
  padding: 20px 0px;
}

.country-guess {
  background-color: $w8;
  padding: 10px 5px 10px 15px;
  margin: 5px auto;
  border-radius: 4px;
  max-width: 300px;
  box-shadow: inset 0 3px 0px $w9;

  &--dots {
    text-align: center;
  }

  &--active {
    background-color: $p1;
    box-shadow: inset 0 -3px 0px $p2;
  }
}

.guess-count {
  font-size: 24px;
  text-align: center;
  margin: 20px 0px;
}
