@import "../../../styles/variables";
@import "../../../styles/animations";

.catagory-title {
  font-size: 18px;
  text-align: left;
  color: $w3;
  border-radius: 4px;
}

.catagory-description {
  color: $w3;

}

details[open] > .catagory-description {
  animation: animation-details-open 600ms ease;
}
