/* Global Changes */

:root {
  --p0: #41309A;
  --w1: #F1F3F5;
  --w2: #DEE2E6;
  --w3: #CED4DA;
  --w4: #ADB5BD;
  --w5: #868E96;
  --w6: #495057;
  --w7: #343A40;
  --w8: #21252A;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&family=Roboto:wght@400;700&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--w2);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--w8);
  color: white;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

input {
  background-color: var(--w7);
  color: var(--w2);
}

/* Custom */

.text-center {
  text-align: center;
}

.btn {
  cursor: pointer;
  padding: 5px;
}

.btn:hover {
  background-color: var(--w6);
  border-radius: 4px;
}

.btn-dark:hover {
  background-color: var(--w7);
}

/* Top Nav */

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin: 0 auto;
  padding: 10px 5px;
  
  width: 100%;
  max-width: 420px;
}

/* Catagories Display */

#catagories-container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 420px;
}

.catagory-row {
  margin-bottom: 20px;
  padding: 0px 5px;
}

.catagory-title {
  text-align: left;
  margin-bottom: 5px;
  color: var(--w2);
}

.line-row {
  margin-bottom: 5px;
  display: flex;
}

.rank-number {
  display: inline-block;
  background-color: var(--w7);
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 2.25;
  border-radius: 3px;
}

@media screen and (max-width: 340px) {
  .country-name {
  font-family: 'Roboto Condensed', sans-serif;
}}

.country-name {
  /* display: inline-block; */
  flex: 1;
  margin-left: 5px;
  height: 40px;
  line-height: 2.25;
  padding-left: 10px;
  background-color: var(--w7);
  border-radius: 3px;
}

.active {
  background-color: var(--p0);
}


/* Search */

#search-module {
  position: absolute;
  margin: 0 auto;
  bottom: 5px;
  max-width: 420px;
  width: 100%;
  left: 0;
  right: 0;
}

#search-bar {
  display: flex;
  padding: 0 5px;
}

#country-search {
  padding-left: 10px;
  height: 40px;
  border: 0;
  flex: 1;
  border-radius: 3px;  
}

#country-submit {
  margin-left: 5px;
  height: 40px;
  width: 60px;
  border: 0;
  border-radius: 3px;
}

#country-submit:hover {
  background-color: var(--w6);
  cursor: pointer;
}

#autocomplete-container {
  padding: 0 5px;
  max-height: 120px;
  margin-bottom: 5px;
  border-top: 5px solid var(--w8);
  overflow-y: scroll;
}

.autocomplete-suggestion:first-of-type {
  border-radius: 3px 3px 0 0;
}

.autocomplete-suggestion {
  border-bottom: 2px solid var(--w8);
  padding: 5px 0px 5px 15px;
  background-color: var(--w7);
}

.autocomplete-suggestion:hover {
  background-color: var(--w6);
  cursor: pointer;
}

.selected {
  background-color: var(--w6);
}

/* MODAL */

.modal-backing {
    position: fixed;
    display: block;
    display: flex;

    margin: 0 auto;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: #14161988;
    cursor: pointer;
}

.modal-content {
  display: block;
  align-self: center;
  
  margin: 0 auto;
  width: 100%;
  height: 60%;
  max-width: 520px;
  min-width: 320px;
  
  background-color: var(--w7);
  overflow-y: scroll;
  cursor: auto;
  border-radius: 3px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  }

.onboard-example {
  background-color: var(--w8);
  padding: 10px;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 3px;
}

.modal-content p {
  margin-bottom: 20px;
  padding: 0 10px;
  line-height: 1.25;
}

.modal-content b {
  padding: 0 10px;
}

/* WIN */

.country-guess {
  text-align: center;
  background-color: var(--w8);
  padding: 10px 5px;
  margin: 5px auto;
  border-radius: 4px;
  max-width: 300px;
}

.country-guess-container {
  margin-bottom: 20px;
}

.country-guess-container :last-child{
  background-color: var(--p0);
}