@import "../../styles/variables";
@import "../../styles/common/button";

.how-container {
  padding: 20px 20px 100px 20px;
  max-width: 500px;
  margin: 0 auto;
}

.onboard-example {
  padding: 10px;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 3px;
}

.bottom-button-container {
  position: fixed;
  margin: 0px auto;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $w10;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  &:hover {
    color: $w1;
  }

  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

.modal {
  &__text {
    line-height: 1.5;
    margin: 20px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 4px solid $w8;
  }

  &__swiper {
    border-bottom: 4px solid $w8;
    cursor: grab;
  }

  &--link {
    text-decoration: underline;
  }
}

.swiper {
  &__text {
    margin: 0 auto 40px auto;
    max-width: 300px;
    text-align: center;
    line-height: 1.5;
  }

  &-pagination-bullet {
    background-color: $w1;
  }

  &-pagination-bullet-active {
    background-color: $p0;
  }

  &-button-prev {
    color: $p0;
  }

  &-button-next {
    color: $p0;
  }
}
